@model IEnumerable<PetStore.Services.Models.Product.OutputModels.ListAllProductsServiceModel>

@{
    ViewData["Title"] = "All";
}

<h1 class="text-center">Products</h1>

<form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2" asp-action="Search" method="get">
    <ul class="list-inline justify-content-center" >
        <li>
            <input name="Search" class="form-control form-control-sm" type="text" placeholder="Search"
                   aria-label="Search">
            <i class="fas fa-search" aria-hidden="false"></i>
        </li>
        <li>
            <button class="btn btn-info" type="submit">Search</button>
        </li>
    </ul>
    
</form>

<p>
    
    @if (!this.User.IsInRole("Admin"))
    {
        <a class="btn btn-success" asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>